@mixin newHeadLine {
    border: 2px solid var(--mainBlue);
    padding: .4em 1em;
    border-radius: .4em;
    background-color: #fff;
    display: flex;
    gap: 1em;
    align-items: center;
    font-weight: 700;
    margin-top: 1em;
    font-weight: 600;
    margin-right: auto;
    justify-content: space-between;
    cursor: pointer;
    .textContainer {
        display: flex;
        gap: 1em;
        align-items: center;



        @media only screen and (max-width: 500px) {

            flex-direction: column;
            justify-content: right;
            align-items: flex-start;
        }

        > span {
            background-color: var(--mainBlue);
            color: white;
            border-radius: .3em;
            padding: 0.1em 0.8em;
            font-weight: 500;
        }


    }
        .fa-angle-down {
            transform: rotate(0deg);
            transition: all 0.3s;

            &.active {
                transform: rotate(180deg);
            }
        }
}
